<table class="table table-striped">
    <thead>
        <th>CPF</th>
        <th>NOME</th>
        <th>EMAIL</th>
        <th>TELEFONE</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor= "let c of clientes">
            <td>{{c.cpf}}</td>
            <td>{{c.nome}}</td>
            <td>{{c.email}}</td>
            <td>{{c.telefone}}</td>
            <td>
                <a routerLink="/clientes/alteracao/{{c.cpf}}"><i class="bi bi-pencil"></i></a> | 
                <a routerLink="/clientes/remocao/{{c.cpf}}"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
    </tbody>
</table>