<div class="margem">
    <h2 class="text-primary text-center">Efetuar Login</h2>
    <form>
        <div class="mb-3">
            <label class="form-label">Usuário:</label>
            <input type="text" class="form-control" [(ngModel)]="user.username" name="nome"  />
        </div>
        
        <div class="mb-3">
            <label class="form-label">Senha:</label>
            <input type="password" class="form-control" [(ngModel)]="user.password" name="senha" />
        </div>        

        <div class="mb-3">
            <button class="btn btn-primary" (click)="validar(user)">Login</button> 
        </div>

        <div *ngIf="erro">
            <div class="alert alert-danger">
                {{erro}}
            </div>
        </div>

    </form>    
</div>
